#footer{
  background-color: black;
  margin-top: auto;
  height: 80px;
  width: auto;
  #logo-footer{
    img{
      margin-top:-28px;
      margin-left: 150px;
    }
    h3{
      color: white;
      margin-top: -55px;
      font-size: 15px;
      margin-left: -505px;
    }
  }
  #icon-footer{
    h3{
      margin-top: -32px;
      color: white;
      margin-left: 500px;
      font-size: 15px;
    }
    #uid{
      display: flex;
      color: white;
      list-style-type: none;
      margin-left:960px;
      margin-top:-30px;
      li{
        i{
          padding-left: 10px;
        }
      }
    }

  }
}
