.header li{
  a{
  text-decoration:none;
  color:black;
  margin-left:143px;
  padding-top:150px;
  padding-bottom:40px;
  }
  @media screen and (min-width: 320px) and (max-width: 768px){
    margin-left:-50px;
  }
}
.header li{
  display: inline;
  text-transform: uppercase;
}
.image-style-banner{
  @media screen and (min-width: 320px){
    width:100%;
  }
  width:1440px;
  height:512px;
}

ul.menu a.is-active{
  color:red;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding-bottom: 12px;
}

